.input-message {
  width: 100%;
  padding: 5px;
  background-color: lightgray;
}

.send {
  height: 75px;
  width: 75px;
  border: 0;
  font-weight: 700;
  color: #3f51b5;
  margin-left: 10px;
}

.send-form {
  display: flex;
  bottom: 40px;
  width: 100%;
}
