.message {
  color: #1100ff;
  width: 80%;
  background-color: #cccccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.text {
  padding: 10px;
}

.text span {
  font-weight: bold;
  color: red;
}

.right {
  margin-left: auto;
}
