.header {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: lightgray;
  width: 100%;
  line-height: 30pt;
}

.header-row {
  display: flex;
  background-color: lightgray;
}
