.message {
  color: #1100ff;
  width: 100%;
  background-color: #cccccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.text {
  padding: 10px;
}

.text span {
  font-weight: bold;
  color: red;
}
